doctype html
html(lang="fr")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Yann Renard Portfolio
        link(rel="stylesheet", href="styles.css")
    body 
        div (class="content")
            h1 (class="title") En cours de développement
                div (class="aurora")
                    div (class="aurora__item")
                    div (class="aurora__item")
                    div (class="aurora__item")
                    div (class="aurora__item")
            p (class="subtitle") Made with &#x2764; by Yann Renard 
            p (class="subtitle") "Oui je sais je prends toujours 107 ans mais tranquille mdr